// Variables
$bordercolor: rgba(82, 82, 81, 0.2)

*
  color: #525251

body
  margin: 0
  font-family: 'Open Sans'
  font-weight: lighter
  background: #252525 url(/images/ryan.jpg) fixed no-repeat
  background-size: cover
  height: 100vh

.hide
  opacity: 0
  transition: opacity 0.3s linear

// .unhide
//   opacity: 1 !important
//   transition: opacity 0.5s ease-in-out

#chat-container
  position: relative
  top: 50%
  left: 50%
  margin-left: -300px
  margin-top: -340px
  max-width: 600px
  border-radius: 2px
  background: inherit
  z-index: 1
  overflow: hidden
  padding: 2rem
  box-sizing: border-box
  &::before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: inherit
    box-shadow: inset 0 0 0px 3000px rgba(255,255,255,0.5)
    margin: -20px
    //filter: blur(10px)
    filter: url(#blur10)

#chat
  display: flex
  justify-content: space-between

#chat-window
  width: 100%
  height: 400px
  overflow: auto
  &::-webkit-scrollbar-track
    box-shadow: inset 0 0 6px $bordercolor
    border-radius: 5px
  &::-webkit-scrollbar
    width: 10px
  &::-webkit-scrollbar-thumb
    border-radius: 5px
    background-color: $bordercolor
    &:active
      background-color: rgba(82, 82, 81, 0.4)

#output p
  padding: 12px 4px
  margin: 0 20px
  border-bottom: 1px solid $bordercolor

#feedback p
  padding: 14px 0px
  margin: 0 20px

#output strong
  font-weight: normal

label
  box-sizing: border-box
  display: block
  padding: 10px 20px

input
  outline-color: rgba(82, 82, 81, 0.3)
  padding: 10px 20px
  box-sizing: border-box
  border: 0
  display: block
  width: 100%
  background: rgba(0,0,0,0)
  border-bottom: 1px solid $bordercolor
  font-size: 16px

  &::placeholder
    color: #727271

  &:first-child
    border-top: 1px solid $bordercolor

button
  outline: none
  color: #fff
  background: rgba(82, 82, 81, 0.8)
  font-size: 18px
  border: 0
  padding: 12px 0
  width: 100%
  border-radius: 2px
  cursor: pointer
  text-transform: uppercase
  margin-top: 20px

button:active
  background: rgba(82, 82, 81, 0.95)

// clock
#clock-container
  position: absolute
  top: 50%
  left: 50%
  margin-left: -300px
  margin-top: -150px
  display: flex
  width: 600px
  height: 250px
  justify-content: space-around
  align-items: center
  span
    color: #fff
    font-family: 'Roboto', sans-serif
    font-size: 150px

  #hours-container
    padding-right: 1px
    border-right: 1px solid #fff
    flex: auto

  #minutes-container
    flex: auto

  .time-item
    width: auto
    text-align: center

span#time-label
  display: block
  font-size: 35px

// get started button
#start-button
  position: absolute
  bottom: 10%
  left: 50%
  margin-left: -125px
  margin-top: -50px
  width: 250px
  height: 100px
  display: flex
  cursor: pointer

  box-shadow: 0px 0px 5px 0px rgba(50,50,50,0.1)
  border-radius: 2px
  background: inherit
  z-index: 1
  overflow: hidden
  padding: 2rem
  box-sizing: border-box
  &::before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: inherit
    box-shadow: inset 0 0 0px 3000px rgba(255,255,255,0.5)
    margin: -20px
    //filter: blur(5px)
    filter: url(#blur5)

  &:hover
    &::before
      box-shadow: inset 0 0 0px 3000px rgba(255,255,255,0.6)

  span
    font-weight: normal
    text-transform: uppercase
    text-align: center
    font-family: 'Roboto', sans-serif
    font-size: 28px
    display: block
    flex: auto


// Animations
#clock-body
  opacity: 0
  position: absolute
  top: 10px
  left: 50%
  margin-left: -85px
  width: 170px
  height: 100px
  border-radius: 2px
  background: inherit
  z-index: 1
  overflow: hidden
  box-sizing: border-box
  &::before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: inherit
    box-shadow: inset 0 0 0px 3000px $bordercolor
    margin: -20px
    //filter: blur(5px)
    filter: url(#blur5)


#clock-container.clock-animation
  z-index: 5
  animation: clockAnimation 0.5s ease-out forwards
  // span#time-label
  //   font-weight: bold

#chat-container.chat-animation
  animation: chatAnimation 0.3s ease-out 0.3s forwards

@keyframes clockAnimation
  0%
    transform: scale(1)
  100%
    top: 85px
    transform: scale(0.3)

@keyframes chatAnimation
  0%
    transform: scale(0.75)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1
